<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981481978109-8vh3jrsdufe9o7ri6836vgoa3nq8hu0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981481978109-8vh3jrsdufe9o7ri6836vgoa3nq8hu0v</string>
	<key>API_KEY</key>
	<string>AIzaSyCbqU8OrY_Kx6-V8MMCoLJP-iK1Rd-alo8</string>
	<key>GCM_SENDER_ID</key>
	<string>981481978109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ticklecode.justaline</string>
	<key>PROJECT_ID</key>
	<string>just-a-line-235bc</string>
	<key>STORAGE_BUCKET</key>
	<string>just-a-line-235bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981481978109:ios:dfee2897fb184848df2694</string>
	<key>DATABASE_URL</key>
	<string>https://just-a-line-235bc.firebaseio.com</string>
</dict>
</plist>